#skills {
  color: #fff;
  padding-top: 5rem;
}

#content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

.skills {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  transform: translateY(20px);
  animation: effectUp 0.5s ease forwards;
  animation-delay: calc(0.1s * var(--skill-order));
}

.skillImageContainer {
  background-color: #19376d;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
}

.skillImageContainer img {
  width: 65px;

  transition: transform 0.3s ease;
}

.skillImageContainer img:hover {
  transform: scale(1.1);
}

.skill p {
  font-size: 20px;
  /* font-family: var(--font-roboto); */
  font-weight: 400;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 15px;
  padding: 17px;

  opacity: 0;
  transform: translateX(-30px);
  animation: effectLeft 0.7s ease forwards;
  animation-delay: calc(0.2s * var(--history-order));
}

.historyItem img {
  width: 45px;
}

.historyItemDetails {
  transition: color 0.3s;
}

.historyItemDetails h3 {
  font-size: 20px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 15px;
  font-weight: 300;
}

.historyItemDetails ul {
  /* margin-top: 50px; */
  list-style-position: inside;
  font-size: 15px;
  list-style-type: disc;
  margin-left: 15px;
}

@media screen and (max-width: 830px) {
  #content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 10px;
  }
}

@keyframes effectUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes effectLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
