#contact {
  color: #fff;
  padding-top: 5rem;
}

#contact-container {
  padding: 50px 25px;
}

.contact-card {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}
.contact-icon {
  font-size: 1.2rem;
  margin-right: 20px;
  color: #fff;
}

.contact-form {
  position: relative;
  width: 100%;
  /* max-width: 900px; */
  padding: 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 35px 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fade 1.5s ease;
  width: 100%;
}

.form-box .input-box {
  position: relative;
  margin-bottom: 25px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  outline: none;
  transition: 0.2s ease;
}

.input-box textarea {
  resize: none;
  height: 100px;
}

.input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  transition: 0.2s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label,
.input-box textarea:focus ~ label,
.input-box textarea:valid ~ label {
  top: -15px;
  font-size: 12px;
  color: white;
}

/* From Uiverse.io by mrtqzbek11 */
.submit-btn {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 1rem;
  border: none;
  position: relative;
  background: #100720;
  transition: 0.1s;
 
}

.submit-btn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.submit-btn:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(255, 94, 247, 1) 17.8%,
    rgba(2, 245, 255, 1) 100.2%
  );
  transition: 0.5s;
}



/* Animations */
.animate-fade-in {
  opacity: 0;
  animation: animate 0.8s forwards ease-out;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive design */
@media (max-width: 768px) {
  #contact-container,
  .contact-form {
    max-width: 100%;
  }
}

@media (max-width: 576px) {

  #contact-container,
  .contact-form {
    max-width: 100%;
    padding: 10px;
  }

  /* .contact-card {
    justify-content: center;
    text-align: center;
  } */
}





