.navbar {
  background-color: #fff;
  height: 70px;
  /* margin: 20px; */
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  font-weight: 500;
  /* color: skyblue; */
  font-size: 24px;
  transition: 0.3s color;
}

.login-button {
  background-color: none;
  color: skyblue;
  font-size: 14px;
  border: 1px solid;
  padding: 8px 28px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s color;
  cursor: pointer;
}

.login-button:hover {
  color: #fff;
  background-color: skyblue;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: grey;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

@media (min-width: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: skyblue;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}
